<!DOCTYPE html>
<html>

<head>
  <title>Esri Demographic Data Service</title>

</head>

<body>

  <h1>RESULTS</h1>
    <% if (locals.stateNames && locals.populations) { %>
      <% for(let i = 0; i < stateNames.length; i++) { %>
        <p>
          <%= stateNames[i] %>: <%= populations[i] %>
        </p>
      <% } %>
    <% } %>

</body>

</html>